* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#map {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.flex {
  display: flex;
}

header{
  display: flex;
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 100vw;
  justify-content: space-between;
  height: 4em;
}

.logo {
  margin: 2em;
}

header nav {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin: 2em;
}

#side-bar {
  /*position: fixed;*/

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 4em;
/*  left: 280px;*/
  /*right: 0px;*/


}

#options {
  position: fixed;
  top: 4em;
  right: 0px;
  display: flex;
  background-color: darkolivegreen;
  z-index: 2;
  margin-bottom: 2em;
  flex-direction: column;
  height: 10em;
  width: 10em;
}

#itinerary {
  position: fixed;
  bottom: 0px;
  right: 0px;
  display:flex;
  background-color: salmon;
  z-index: 2;
  bottom: 0px;
  height: 10em;
  width: 10em;

}
